{% extends "baseAndNavbar.html" %}

{% block content %}

<h2 class="background-primary centred">Alerts</h2>

<script language = "JavaScript">
  $(document).ready(function() {
    setTimeout(function(){
      window.location.reload()
    },5000);
  });
</script>

<h3>Current Alerts</h3>
<table class="table" style="margin-bottom:50px">
  <thead>
    <tr>
      <th scope="col">Start Time</th>
      <th scope="col">Datastream</th>
      <th scope="col">Rule</th>
      <th scope="col">Severity</th>
    </tr>
  </thead>
  <tbody>
    {% for alert in alerts %}
    {% if alert['endTime'] == "" %}
    <tr>
      <td>{{ alert['startTime'] }}</td>
      <td>{{ alert['datastreamID']}} - {{ alert['dataStreamName'] }}</td>
      <td>{{ alert['dataForm'] }} {{ alert['comparator'] }} {{ alert['limit'] }}</td>
      {% if alert['severity'] == 'High' %}
        <td class="bg-danger">
      {% elif alert['severity'] == 'Medium' %}
        <td class="bg-warning">
      {% else %}
        <td class="bg-info">
      {% endif %}
      {{ alert['severity'] }}</td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>

<h3>Old Alerts</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
      <th scope="col">Datastream</th>
      <th scope="col">Rule</th>
      <th scope="col">Severity</th>
    </tr>
  </thead>
  <tbody>
    {% for alert in alerts %}
    {% if alert['endTime'] != "" %}
    <tr>
      <td>{{ alert['startTime'] }}</td>
      <td>{{ alert['endTime'] }}</td>
      <td>{{ alert['datastreamID']}} - {{ alert['dataStreamName'] }}</td>
      <td>{{ alert['dataForm'] }} {{ alert['comparator'] }} {{ alert['limit'] }}</td>
      {% if alert['severity'] == 'High' %}
        <td class="bg-danger">
      {% elif alert['severity'] == 'Medium' %}
        <td class="bg-warning">
      {% else %}
        <td class="bg-info">
      {% endif %}
      {{ alert['severity'] }}</td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>

{% endblock %}