{% extends "baseAndNavbar.html" %}

{% block content %}

<h1 class="centred">Sensor Dashboard</h1>
<p class="centred">{{ serverAddress }}</p>

{% for thing in thingsAndDatastreams %}
<div class="thingBorder card-primary">
  <div class="row justify-content-center thingHeader">
    {% set currentThingID = thing['@iot.id'] %}
    <button data-bs-toggle="collapse" data-bs-target="#thing-{{thing['@iot.id']}}" type="button" class="btn btn-info" onclick="toggleDropDownIcon('drop-down-icon-{{currentThingID}}')">
      <h2 class="centred">{{ thing['name'] }}</h2>
      <img src="static/drop down icon.png" width="20px" id="drop-down-icon-{{currentThingID}}">
    </button>
  </div>
  <div id="thing-{{thing['@iot.id']}}" class="collapse show">
    <div class="row justify-content-center">
      {% for datastream in thing['Datastreams'] %}
      <div class="col-4" style="min-width: 400px;">
        <div class="graphOuterContainer background-primary">

          {% set currentDatastreamID = datastream['@iot.id'] %}
          <button type="button" style="margin-bottom: 5px;" class="btn btn-primary centred" onclick='toggleVisibleGraphs("{{currentDatastreamID}}")'> Toggle Graph / Current Value</button>

          <div id="chart-{{ datastream['@iot.id'] }}"></div>
          <script language = "JavaScript">
            $(document).ready(createChartObject("chart-{{ datastream['@iot.id'] }}", "{{ datastream['@iot.selfLink'] }}/Observations?$top=100&$orderby=phenomenonTime desc", "{{ datastream['name'] }}", "{{ datastream['unitOfMeasurement']['symbol'] }}", "{{ datastream['unitOfMeasurement']['name'] }}" ));
          </script>

          <div id="currentValueContainer-{{ datastream['@iot.id'] }}" style="display: None">
            <h4 class="centred">{{ datastream['name'] }}</h4>
            <h4 id="currentValue-{{ datastream['@iot.id'] }}" class="centred">Loading Current Value...</h4>
            <script language = "JavaScript">
              $(document).ready(getCurrentValueLoop("currentValue-{{ datastream['@iot.id'] }}", "{{ datastream['@iot.selfLink'] }}/Observations?$top=1&$orderby=phenomenonTime desc", "{{ datastream['unitOfMeasurement']['symbol'] }}"));
            </script>
          </div>

        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}