{% extends "baseAndNavbar.html" %}

{% block content %}

<h2 class="background-primary">Welcome to the rules page!</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Data Form</th>
      <th scope="col">DataStream</th>
      <th scope="col">Comparator</th>
      <th scope="col">Limit</th>
      <th scope="col">Current State</th>
    </tr>
  </thead>
  <tbody>
    {% for rule in rules %}
      <td>{{ rule['dataForm'] }}</td>
      <td id="datastream-{{ rule['_id'] }}">{{ rule['dataStreamID'] }}</td>
        <script language = "JavaScript">
          $(document).ready(function() {
            setDataStreamName("{{ rule['dataStreamID'] }}", "{{ serverAddress }}", "datastream-{{ rule['_id'] }}")
          });
        </script>
      <td>{{ rule['comparator'] }}</td>
      <td>{{ rule['limit'] }}</td>
      <td id="state-{{ rule['_id'] }}">Calculating state...</td>
        <script language = "JavaScript">
          $(document).ready(function() {
            setAndcalculateState("{{ rule['dataForm'] }}", "{{ rule['dataStreamID'] }}", "{{ rule['comparator'] }}", "{{ rule['limit'] }}", "{{ serverAddress }}", "state-{{ rule['_id'] }}")
          });
        </script>
    {% endfor %}
  </tbody>
</table>

{% endblock %}